@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    color: white;
}

nav{
    border-radius: 10px;
}
nav ul{
    height: 50px;
    
}

ul li a {
    text-decoration: none;
    color: white;
}
nav ul li{

    display: inline;
   margin: auto;
   padding:  20px;
   cursor: pointer;

   
    
}
nav ul li a:hover{
    color: black;
    background-color: white;
    font-weight: bolder;
}


.container{
    background-color: aquamarine;
    height: 800px;
    background-image: url(https://source.unsplash.com/user/erondu/);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.items{
border: 2px solid tomato;
margin: 5px;
opacity: 0.33;
background-color: bisque;
font-family: 'Merriweather', serif,cursive;
text-align: center;

}

footer{
    background-color: black;
    color: white;
}


.footer:hover{
    font-weight: bold;
}